@import './base.css';
@import './efects.css';

#app {
  /* margin: 0 auto; */
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}

.router-link-active {
  color: #a09c9c !important;
  cursor: default;
}

/* .router-link-exact-active {
  
} */